In [ ]:
Write a Python function to find the Max of three numbers

SyntaxError: invalid syntax (ipython-input-645410268.py, line 1)

In [ ]:
def max_of_three( x, y,):
    if x > y:
        return x
    return y
def max_of_three( x, y,):
    return max_of_two( x, max_of_two( y, z ) )
print

In [ ]:
# Write a Python function to sum all the numbers in a list.

In [ ]:
def sum_list_builtin(numbers):
  return sum(numbers)

my_list = [18, 12, 30, 10, 7]
total = sum_list_builtin(my_list)
print(f"The sum of {my_list} is: {total}")

The sum of [18, 12, 30, 10, 7] is: 77

In [ ]:
def find_max_builtin(a, b, c):
  return max(a, b, c)
print(find_max_builtin(10, 5, 20))

20

 Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [3]:
l1=[1,2,3,4,5]

In [4]:
a=int(input("entere the position:"))
b=int(input("enter the number:"))
l1.insert(a,b)

entere the position:5
enter the number:6

In [5]:
l1

[1, 2, 3, 4, 5, 6]

4. Write a program to rename a key city to a location in the following dictionary. sample_dict = { "name": "Kelly",  "age":25,  "salary": 8000, "city": "New york"}

In [10]:
d1={"name": "Kelly",  "age":25,  "salary": 8000, "city": "New york"}
d1['location']=d1.pop('city')
print(d1)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

5. Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary. sample_dict = {     'emp1': {'name': 'Jhon', 'salary': 7500},     'emp2': {'name': 'Emma', 'salary': 8000},     'emp3': {'name': 'Brad', 'salary': 500} } 6

In [13]:
d2={'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
    }
d2['emp3' ]['salary']=8500
print(d2)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

6. write a program to copy 44 and 55 from the following tuple into a new tuple.given tuple1=(11,22,33,44,55,66)

In [15]:
tuple1=(11,22,33,44,55,66)
tuple2=(tuple1[3],tuple1[4])
print(tuple2)

(44, 55)

7.counts the number of occurances of item 50 from a tuple tuple=(50,10,60,70,50,58,567,50,81)

In [16]:
tuple1=(50,10,60,70,50,58,567,50,81)
count=tuple1.count(50)
print(count)

3